body {
  font-family: Montserrat !important;
  padding: 0 !important;
  margin: 0 !important;
}
#title {
  background-color: #ff4c68;
}
h1 {
  font-family: Montserrat, sans-serif;
  font-size: 5rem !important;
  line-height: 1.5 !important;
  color: white;
  width: 80%;
}
.container-fluid {
  padding: 3% 15% 7% !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2.7rem !important;
  font-family: Ubuntu;
}
.phone-img {
  transform: rotate(25deg) !important;
  width: 60%;
  position: relative;
  left: 150px;
  top: 100px;
}
.navbar {
  padding-bottom: 5.5rem !important;
}
.nav-link {
  padding: 0 18px 0 18px !important;
  font-size: 1.5rem;
}
.nav-link:hover {
  color: white !important;
  transform: scale(1.5);
}
.download-btn:hover {
  transform: scale(1.5);
}
.download-btn {
  margin: 3% 2% 3% 0;
}

/* Feautures-Section */
#features {
  text-align: center;
  padding: 7% 10%;
  line-height: 1.5;
  font-family: Montserrat;
  /* margin: 0 auto; */
  background-color: #fff;
  position: relative;
  z-index: 1;
  bottom: 170px;
  padding-bottom: 1% !important;
  padding-top: 10% !important;
}
h3 {
  font-size: 3.5rem !important;
}
h2 {
  width: 75%;
  font-size: 3rem !important;
  line-height: 1.5 !important;
  margin: 0 auto;
}
#features p {
  font-size: 1.5rem !important;
  width: 75%;
  margin: 0 auto;
  color: #8f8f8f;
  font-weight: lighter !important;
}
#features i {
  margin-bottom: 2rem;
  color: #ef8172;
}
#features i:hover {
  color: #ff4c68;
}
.col {
  margin-bottom: 5rem;
}
/* Testimonial Section */
#testimonials {
  padding: 5% 15%;
  text-align: center;
  background-color: #ef8172;
  color: white;
}
.test-img {
  border-radius: 50%;
  margin: 20px;
  height: 300px;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
#press img {
  margin: 0 20px 20px 20px;
}

/* Pricing section */
#pricing {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 3rem;
}
.card-row {
  padding: 5% 10%;
  margin: 0 !important;
  text-align: center !important;
}
.card-col {
  text-align: center;
}
.sign-up-btn:hover {
  transform: scale(1.5);
}
.sign-up-btn {
  margin: 1rem 0;
  padding: 2% 2% !important;
}
/* cta section */
#cta {
  background-color: #ff4c68;
  padding: 4% 2%;
  text-align: center;
  color: #fff;
}
.footer-btn {
  margin: 5rem 2rem;
}
.footer-btn:hover {
  transform: scale(1.5);
}
#cta i {
  margin: 0 3px;
}
/* footer section */

#footer {
  padding: 5% 10%;
  text-align: center;
  font-size: 2.5rem;
}
.foot-insta {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
.foot-face {
  color: #3b5998;
  background-image: linear-gradient(
    to bottom,
    transparent 20%,
    white 20%,
    white 93%,
    transparent 93%
  );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}
.foot-twitter {
  color: #00aced;
}
.foot-you {
  color: #bb0000;
}
.foot-icon:hover {
  transform: scale(1.2);
}
h3 {
  width: 60%;
  margin: 0 auto;
}
/* Media queries */

@media (max-width: 1026px) {
  #title {
    text-align: center;
  }

  .phone-img {
    position: static !important;
    transform: rotate(0) !important;
  }
}
